<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2018 XMEDI
        <br>Designed by

        <!-- <a href="http://courses.growthschool.com/courses/rails-101/" target=_new> -->
           总工办
        <!-- </a> -->

    </p>
</footer>
